header.header
  form.left(action="/movies#sect-hd") 
    input.btn-submit(type="submit" value='')
    .search-wraper
      input#search(type="search", name="search" placeholder="Search...") 
    .btn-options 
      //- span Opts:
      span.arrow &#9660;
      .search-options
        .radio
          input(type="radio" name="match" id="all" value="all" checked)
          label(for="all") All
        .radio
          input(type="radio" name="match" id="title" value="title")
          label(for="title") Title
        .radio
          input(type="radio" name="match" id="cast" value="cast")
          label(for="cast") Actor
        .radio
          input(type="radio" name="match" id="directors" value="directors")
          label(for="directors") Director
        .radio
          input(type="radio" name="match" id="writers" value="writers")
          label(for="writers") Writer
  //- .space
  nav.middle
    if !index
      a(href="/") Home
    if movieGenres
        .menu Movies
          span.arrow &#9660;
          ul
            each genre in movieGenres
              li 
                a(href=`/movies?type=movie&genres=${genre._id}#sect-hd`) #{genre._id} 
                  span #{genre.count}
    if serieGenres
        .menu Series
          span.arrow &#9660;
          ul
            each genre in serieGenres
              li 
                a(href=`/movies?type=series&genres=${genre._id}#sect-hd`) #{genre._id} 
                  span #{genre.count}
  //- .space
  .right  
    if blackTheme != 1
      a.theme(href='/theme?blackTheme=1')
        img(src="/static/images/sun.png")
    else
      a.theme(href='/theme?blackTheme=0') 
        img(src="/static/images/moon.png")    
    a.login(href="https://forms.gle/RFg1CBiJHiHUxexC9" target='_blanck') Contact
    if !authenticated
        a.login(href="/login#sect-hd") Login
        a.login(href="/register#sect-hd") Register
    if authenticated
      .user-container
        .user
          if userPhoto
            img(src=userPhoto)
          else
            .user-first-letter #{username[0].toUpperCase()}
          .user-info 
            p.username #{username}      
            a(href="/profile#sect-hd") Profile
            a(href="/logout") Logout


