.movie-view-info
  if movie.title
    h1.title #{movie.title}
  figure.movie-info-poster
    img(src= movie.poster)
  .infos
    if movie.fullplot || movie.plot
      p.plot #{movie.fullplot || movie.plot}
    if movie.type
      .info
        h3 Type: 
        p #{movie.type.charAt(0).toUpperCase() + movie.type.slice(1)}
    if movie.year
      .info
        h3 Year:
        p #{movie.year}    
    if movie.runtime
      .info
        h3 Runtime:
        p #{movie.runtime}
    if movie.cast && movie.cast.length
      .info
        h3 Cast:
        p
          each el in movie.cast
            a(href=`/movies?cast=${el}`) #{el}
            | 
    if movie.directors && movie.directors.length
      .info
        h3 Directors:
        p
          each el in movie.directors
            a(href=`/movies?directors=${el}`) #{el}
            | 
    if movie.writers && movie.writers.length
      .info
        h3 Writers:
        p
          each el in movie.writers
            a(href=`/movies?writers=${el.split('(')[0].trim()}`) #{el}
            | 
    if movie.countries && movie.countries.length
      .info
        h3 Countries:
        p  #{movie.countries.join(', ')}
    if movie.genres && movie.genres.length
      .info
        h3 Genres:
        p 
          each el in movie.genres
            a(href=`/movies?genres=${el}`) #{el}
            | 
    if movie.imdb && movie.imdb.rating
      .info
        h3 imdb: 
        .rating-out
          meter(min=0 max=10 low=4 heigh=7 value=movie.imdb.rating) 
          span #{movie.imdb.rating} 